[submodule "bin"]
	path = bin
	url = https://github.com/roaet/dot-files-bin.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/roaet/dot-files-tmux.git
[submodule "vim"]
	path = vim
	url = https://github.com/roaet/dot-files-vim.git
[submodule "secure"]
	path = secure
	url = https://github.com/roaet/dot-files-secure.git
[submodule "bash"]
	path = bash
	url = https://github.com/roaet/dot-files-bash.git
[submodule "weechat"]
	path = weechat
	url = https://github.com/roaet/dot-files-weechat.git
[submodule "task"]
	path = task
	url = https://github.com/roaet/dot-taskwarrior.git
